@import url('https://fonts.googleapis.com/css2?family=Afacad');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, 
button, 
textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Afacad";
    --FF-HEADINGS: "Afacad";
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --COLOR: #000;
    --BORDER-COLOR: #cecccc;
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --HIGHLIGHT-COLOR: #000;
    --HOVER: #df2935;
    --LINK-COLOR: #fff;
    --LINK-ACTIVE: #407076;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --NAV-COLOR: #fff;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --MIN-PAGE: 150vh;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

}

/* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: var(--MIN-PAGE);
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 5px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
    text-indent: 0;

}

h2, h3 {
    margin-bottom: 0;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-ACTIVE);
}

a:hover, a:focus-visible {
    color: var(--HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || HEADER*/
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--NAV-COLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.header {
    grid-column: 1 / 4;
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

 /* BUTTONS */ 
.nav__box {
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
    display: grid;
    grid-template-columns: 3;

    justify-content: center;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.nav__box--active {
    font-weight: bold;
    box-shadow: 0 5px 5px -5px var(--LINK-ACTIVE);
}

.nav__box:hover {
    font-weight: bold;
    box-shadow: 0 5px 5px -5px var(--HOVER);
}

/* || MAIN */
.main {
    display: block;
    padding: 0 var(--PADDING-SIDE);
    margin-top: calc(var(--PADDING-TB) * 2);
    color: #000;
    min-height: calc(var(--MIN-PAGE));
}

.main__content {
    display: none;
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
    text-align: justify;
    word-wrap: normal;
}

.main__content--active {
    display: block;
}

.img {
    display: grid;
    max-width: 30%;
}

.list {
    text-indent: 1.5rem;
}
.LinkedIn__Icon {
    text-indent: 0;
    padding-top: 25px; 
}
.LinkedIn__Icon img{
    filter: brightness(0);
}

/* || FOOTER */
.footer {
    position: relative;
    bottom: 0px;
    background-color: var(--HEADER-BGCOLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}
.footer a {
    color: var(--HEADER-COLOR);
    text-decoration-line: none;
}

.footer:hover a {
    color: var(--HOVER);
}

.footer:active a {
    color: var(--LINK-ACTIVE);
}
