.header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    position: fixed;
    color: #ffffff;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: none;
    position: fixed; /* Set the navbar to fixed position */
    top: 10; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
}

.nav__button {
    margin-left: 2px;
    float: left;
    display: block;
    background: #333333;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav__button:hover {
    background: #232323;
    /*color: #000000; */
    border-bottom: 2px solid #009879;
}

.nav__button:active {
    background: #222222;
}

.nav__button--active {
    font-weight: bold;
    border-bottom: 2px solid #009879;
    background: #222222;
    color: #ffffff;
}

.nav__content {
    padding: 15 px;
    font-size: 1rem;
    display: none;
    margin-right: 10px;
    margin-left: 10px;
}

.nav__content--active {
    display: block;
}

.nav__content > :first-child {
    margin: 0;
}

.main {
    margin-top: 60px;
}

.nav__image {
    text-align: center;
    right: 10px;
    margin-top: 100px;
}

.nav__image img {
    max-width: 30%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}