

@import url('https://fonts.googleapis.com/css2?family=Afacad');
/**/

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    text-align: center;
    max-width: 40%;
    min-width: 30%;
    margin-bottom: 1rem;
}

input, 
button, 
textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Afacad";
    --FF-HEADINGS: "Afacad";
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --COLOR: #000;
    --BORDER-COLOR: #444;
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --HIGHLIGHT-COLOR: #orange;
    --LINK-COLOR: #fff;
    --HOVER: rgb(0,0,0,10%);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --NAV-COLOR: #fff;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --MIN-PAGE: 100vh;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

}

/* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || UTILITY CLASSES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: var(--MIN-PAGE);
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 5px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
    text-indent: 0;

}

h2, h3 {
    margin-bottom: 0;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    text-decoration: none;
}

a:hover, a:focus-visible {
    color: var(--HIGHLIGHT-COLOR);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || HEADER*/
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-COLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

 /* BUTTONS */ 
.header__button {
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
    display: block;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.header__button--active {
    font-weight: bold;
    background: #dddddd;
    box-shadow: 0 5px 5px -5px var(--LINK-ACTIVE);
}

.header__button:hover {
    background-color: var(--HOVER);
    color: var(--COLOR);
    font-weight: bold;
}

/* || MAIN */
.main {
    display: flex;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    color: #000;
}

.main__article {
    display: block;

    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
    text-indent: 1.5rem;
    text-align: justify;
    word-wrap: normal;
}

/* || FOOTER */
.footer {
    position: relative;
    bottom: 0px;
    background-color: var(--HEADER-BGCOLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}
.footer a {
    color: var(--HEADER-COLOR);
}
