@import url('https://fonts.googleapis.com/css2?family=Afacad');


/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, 
button, 
textarea {
    font: inherit;
}


/* VARIABLES */
:root {
    /* FONTS */
    --FF: "Afacad";
    --FF-HEADINGS: "Afacad";
    --FS: clamp(1rem, 3.5vw, 1.5rem);

    /* COLORS */
    --COLOR: #000000;
    --BORDER-COLOR: #2286aa2c;
    --BODY-BGCOLOR: #F3F5F7;
    --FONT-COLOR: #000000;
    --HIGHLIGHT-COLOR: #000000;
    --HOVER: #c42021;
    --LINK-ACTIVE: #2286aa;
    --HEADER-BGCOLOR: #000000;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --MIN-PAGE: 100vh;
}


/* UTILITY CLASSES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    color: var(--FONT-COLOR);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: var(--MIN-PAGE);
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 5px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
    text-indent: 0;
}

h2, h3 {
    margin-bottom: 0;
    margin-top: var(--FS);
}

h3 {
    margin-top: calc(var(--FS)/2);
}

p {
    line-height: 1.5;
    text-align: justify;
}

p a {
    color: var(--LINK-ACTIVE);
}

p a:active {
    color: var(--HOVER);
}

a {
    color: var(--COLOR);
    text-decoration-line: none;
}


a:active {
    color: var(--LINK-ACTIVE);
}


/* Header*/
.header {
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


 /* BUTTONS */ 
header nav ul {
    display:block;
    margin: auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    margin: auto;
    padding: 5px;
}

.nav__box a {
    padding:  5px 15px;
}

 /* || The two below only needed on desktop */
.nav__box a:hover {
    font-weight: bold;
    box-shadow: 0 10px 10px -10px var(--HOVER);
    color: var(--HOVER);
}
.nav__box a:active {
    font-weight: bold;
    box-shadow: 0 10px 10px -10px var(--LINK-ACTIVE);
    color: var(--LINK-ACTIVE);
}

.main {
    min-height: 80vh;
    max-width: fit-content;
}

.img-general {
    float: right;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: var(--PADDING-TB) 0;
}

.img-general-1 {
    float: right;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: var(--PADDING-TB) 0;
}

.vid-general {
    float: right;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: var(--PADDING-SIDE) 0;
}


/* FOOTER */
.footer {
    position: relative;
    bottom: 0px;
    margin-top: var(--PADDING-TB);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}
.footer a {
    color: var(--COLOR);
}

.footer:hover a {
    color: var(--HOVER);
}

.footer:active a {
    color: var(--LINK-ACTIVE);
}


/* Screen Settings; @media */
@media only screen and (min-width: 450px) {
    .img-general {
        float: right;
        max-width: 35%;
        height: auto;
        margin-left: var(--PADDING-SIDE);
        margin-top: var(--FS);
    }

    .img-grid {
        --gap: 16px;
        --num-cols:2;
        --row-height:300px;

        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var((--num-cols),1fr));
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
        
    }

    .img-grid > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
       
    img {
        width: 750px;;
        height: auto;
    }

    header nav ul li {
        padding: 20px;
    }
} 

/* Think about dealing with rotated screens */


@media only screen and (min-width: 700px) {
    img {
        width: 750px;;
        height: auto;
    }
    
    header nav ul li {
        padding: 20px 70px;
    }
} 

/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2f2f2f;
        color: var(--BODY-BGCOLOR);
    }

    a {
        color: var(--BODY-BGCOLOR);
    }

    .footer a {
        color: var(--BODY-BGCOLOR);
    }

    .footer a:hover {
        color: #EC8383;
    }

    .footer a:active {
        color: var(--LINK-ACTIVE);
    }

    .nav__box a:hover {
        color: #EC8383;
    }
    .nav__box a:active {
        color: var(--LINK-ACTIVE);
    }
}
*/
